
body {background-color: skyblue;}



h1 {color: black;
font-family: "georgia";
font-size: 20em;

}

.page-2 {
	background-color: red;
}

.page-2 h1 {
	color: black;
	font-size: 10em;
}

.page-3 {
	background-color: black;
}

.page-3 h1 {
	color: orange;
	font-size: 5em;
}

.page-4 {
	background-color: lime;
}

.page-4 h1 {
	color: darkblue;
	font-size: 10em;
}